<%= form_for [@project, @ticket], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <div id='files'>
    <%= render :partial => "assets/new" %>
  </div>
  <p><%= link_to_function "Add another file", "add_another_file()" %></p>
  <%= f.submit %>
<% end %>
