<%= form_for [@project, @ticket], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <% number = 0 %>
  <div id='files'>
    <%= f.fields_for :assets do |asset| %>
      <p>
        <%= asset.label :asset, "File ##{number += 1}" %>
        <%= asset.file_field :asset %>
      </p>
    <% end %>
  </div>
  <%= link_to "Add another file", new_asset_path,
                                  :remote => true,
                                  :update => "files",
                                  :position => "bottom",
                                  :method => :get,
                                  :with => "'number=' + $$('div#files input').length" %>
  <br>
  <%= f.submit %>
<% end %>