<%= form_for [@project, @ticket], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <% number = 0 %>
  <div id='files'>
    <%= render :partial => "assets/form", :locals => { :number => number,
                                                       :ticket => @ticket } %>
  </div>
  <%= link_to_remote "Add another file", :url => new_asset_path,
                                         :update => "files",
                                         :position => "bottom",
                                         :method => :get,
                                         :with => "'number=' + $$('div#files input').length" %>
  <br>
  <%= f.submit %>
<% end %>