<% @title = "Show - Projects - Ticketee" %>
<h1><%= @project.name %></h1>
<%= admins_only do %>
  <%= link_to "Edit", edit_project_path(@project) %>
  <%= link_to "Delete", project_path(@project), :method => :delete, :confirm => "Are you sure you want to delete this project?" %>
<% end %>
<%= link_to "New Ticket", new_project_ticket_path(@project) %>
<ul>
  <% for ticket in @project.tickets %>
    <li><%= link_to ticket.title, [@project, ticket] %></li>
  <% end %>
</ul>
