<% @title = "Show - Projects - Ticketee" %>
<h1><%= @project.name %></h1>
<menu>
  <%= admins_only do %>
    <%= link_to "Edit Project", edit_project_path(@project) %><br>
    <%= link_to "Delete Project", project_path(@project), :method => :delete, :confirm => "Are you sure you want to delete this project?" %>
  <% end %>
</menu>

<%= authorized?(:"create tickets", @project) do %>
  <%= link_to "New Ticket", new_project_ticket_path(@project) %>
<% end %>

<h2>Tickets</h2>
<%= form_tag search_project_tickets_path(@project),
    :method => :get do %>
  <%= label_tag "search" %>
  <%= text_field_tag "search", params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<ul id='tickets'>
  <% @tickets.each do |ticket| %>
    <li>
      <%= render ticket.state if ticket.state %>
      <%= link_to "##{ticket.id} - #{ticket.title}", [@project, ticket] %>
    </li>
  <% end %>
</ul>
