<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Ticketee" %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1><%= link_to "Ticketee", root_path %></h1>
  <%= flash[:notice] || notice %>
  <%= flash[:error] || alert %>
  <%= link_to "Signup", new_user_registration_path %>
  <%= yield %>
</body>
</html>
