<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Ticketee" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= flash[:notice] %>
<%= flash[:error] %>

<h1><%= link_to "Ticketee", root_path %></h1>
<nav>
  <%= link_to "Sign up", new_user_registration_path %>
</nav>
<%= yield %>

</body>
</html>
